.my-footer {
  background-color: #000066;
  color: #ffffff;
  width: 100%;
  font-size: 80%;
  padding: 1.5em;
  height: 8em;
  position: absolute;
  bottom: 0;
}

.datepicker-btn {
  z-index: 10000;
}

.half {
  width: 50%;
}
