{{template "base" .}}

{{define "content"}}
<div class="container mt-4">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <h1>Search For Availability</h1>
          <form action="/search-availability" method="POST" class="needs-validation" novalidate>
          <input type="hidden" name="csfr_token" value={{.CSRFToken}}/>
            <div id="reservation-check">
              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label for="start" class="form-label">Starting Date</label>
                    <input
                      type="text"
                      class="form-control"
                      id="start"
                      name="start"
                      required
                      aria-describedby="startDateHelp"
                    />
                    <div id="startDateHelp" class="form-text">
                      Enter your start date in the format of YYYY-MM-DD.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label for="end" class="form-label">Ending Date</label>
                    <input
                      type="text"
                      class="form-control"
                      id="end"
                      name="end"
                      required
                      aria-describedby="endDateHelp"
                    />
                    <div id="endDateHelp" class="form-text">
                      Enter your end date in the format of YYYY-MM-DD.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary">
              Search for Availability
            </button>
          </form>
        </div>
      </div>
    </div>
{{end}}

{{define "js"}}
<script>
  const elem = document.getElementById("reservation-check");
  const rangepicker = new DateRangePicker(elem, {
    format: "yyyy-mm-dd",
  });

</script>
{{end}}
